run = "pip install -r requirements.txt -v && streamlit run streamlit_app.py --server.port 8080 --server.address 0.0.0.0 --logger.level=debug"
entrypoint = "streamlit_app.py"
modules = ["python-3.11"]

[nix]
channel = "stable-23_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "requirements.txt"]

[deployment]
deploymentTarget = "static"
publicDir = "./"

[[ports]]
localPort = 8080
externalPort = 80

[env]
PYTHON_VERSION = "3.11"